* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html {
  height: 100svh;
}
html body {
  height: inherit;
  background-color: inherit;
}

button,
input {
  border: none;
  background-color: transparent;
  outline: none;
}
button:active,
input:active {
  border: none;
  outline: none;
}

#root {
  height: inherit;
  width: 100%;
  display: flex;
  padding: 50px;
}

#main {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#main .player {
  height: 50%;
  width: 100%;
}
#main .player .btnTimer {
  height: 70%;
  width: 100%;
}
#main .player .lable {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
#main .player .lable h2 {
  font-size: 50px;
}
#main .player .lable p {
  font-size: 20px;
}

.losaing {
  color: red;
}

.btnTimer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90PX;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.9);
  user-select: none;
}

.wating.btnTimer {
  opacity: 0.4;
  cursor: not-allowed;
}

#player-white {
  display: flex;
  flex-direction: column-reverse;
}
#player-white .btnTimer {
  background-color: #C53434;
  transform: rotate(180deg);
}
#player-white .lable {
  display: flex;
  flex-direction: row-reverse;
}
#player-white .lable p {
  transform: rotate(180deg);
}
#player-white .lable h2 {
  transform: rotate(180deg);
}

#player-black .btnTimer {
  background-color: #3F2E2E;
}

#popup {
  position: fixed;
  inset: 0;
  margin: auto;
  height: 100svh;
  width: 100svw;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.1);
  padding-top: 5%;
}
#popup .main {
  border-radius: 12px;
  margin: auto;
  width: 40%;
  aspect-ratio: 3/2.5;
  background-color: white;
  padding: 0 20px;
}
#popup .main .title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20%;
  margin: auto;
  font-size: 30px;
}
#popup .main .form {
  height: 60%;
  padding: 0px 30px;
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
#popup .main .form label,
#popup .main .form input {
  display: block;
  color: rgb(234, 43, 43);
  width: 100%;
}
#popup .main .form label {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}
#popup .main .form input {
  height: 30px;
  padding: 10px;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #513E3E;
}
#popup .main .btnPopup {
  cursor: pointer;
  padding: 10px;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#popup .main .btnPopup button {
  border-radius: 2px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px 30px;
  background-color: #C53434;
}
#popup .main.ends .title {
  height: 60%;
  font-size: 55px;
  justify-content: center;
}
#popup .main.ends .form {
  height: 10%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0px 10%;
}
#popup .main.ends .form label {
  font-size: 20px;
  opacity: 0.8;
}
#popup .main.ends .btnPopup {
  padding: 0px 10%;
  display: flex;
  justify-content: space-between;
}
#popup .main.ends .btnPopup button:last-child {
  background-color: #D9D9D9;
  color: black;
}

@media screen and (max-width: 600px) {
  #root {
    padding: 20px;
  }
  .btnTimer {
    font-size: 60PX;
  }
  #popup .main {
    width: 80%;
    padding: 0px 10px;
  }
  #popup .title {
    font-size: 20px;
  }
  #popup .form label {
    font-size: 12px;
  }
  #popup .form input {
    height: 15px;
  }
  #popup .main.ends .title {
    height: 60%;
    font-size: 45px;
    justify-content: center;
  }
  #popup .main.ends .form {
    height: 10%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0px 30px;
  }
  #popup .main.ends .form label {
    font-size: 20px;
    opacity: 0.8;
  }
  #popup .main.ends .btnPopup {
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
  }
  #popup .main.ends .btnPopup button {
    padding: 10px 25px;
  }
  #popup .main.ends .btnPopup button:last-child {
    background-color: #D9D9D9;
    color: black;
  }
}

/*# sourceMappingURL=style.css.map */
